.welcome {
    width: 44%;
    margin-left: 28%;
    height: 50%;
    margin-top: 30%;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    text-align: center;
    form {
        .forminput {
            width: 80%;
            margin-left: 10%;
        }
        padding: 10px;
        padding-bottom: 0;
        display: inline-block;
        input {
            float: left;
            margin-left: 0;
            height: 30px;
            width: 64%;
            margin-right: 1%;
            border-radius: 0 4px 4px 0;
        }
        div {
            margin-bottom: 5px;
        }
        button {
            font-size: 120%;
            background-color: #ff3e3e;
            color: aliceblue;
            border-radius: 10px;
            text-decoration: none;
            height: 35px;
            width: 220px;
            outline: none;
            text-shadow:none !important;
            border:none !important;
            box-shadow:none !important;
        }
        .redirect {
            margin-top: 10px;
        }
        a {
            text-decoration: underline;
            font-size: 90%;
        }
    }
    #login-form {
        display: block;
    }
    #register-form {
        display: none;
    }
    a {
        text-decoration: none;
    }
    .inputprefix {
        margin-left: 1%;
        margin-right: 0;
        color: white;
        font-weight: 500;
        padding-top: 4px;
        height: 30px;
        width: 34%;;
        text-align: center;
        vertical-align: middle;
        float: left;
        border-radius: 4px 0 0 4px;
        background-color: #ff3e3e;
    }
}
